.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
scref_cache
scbench_cache
example_data
vignettes/scbench_cache
vignettes/scref_cache
vignettes/data
vignettes/scbench_cache.zip
vignettes/scref_cache.zip
*.RDS
test_trainingSet.R
tests/
